.elementor-11 .elementor-element.elementor-element-66a860f9:not(.elementor-motion-effects-element-type-background),
.elementor-11 .elementor-element.elementor-element-66a860f9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #4D5EA0;
}

.elementor-11 .elementor-element.elementor-element-66a860f9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-11 .elementor-element.elementor-element-66a860f9>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-11 .elementor-element.elementor-element-1fb6f6d8 {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-1fb6f6d8 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.elementor-11 .elementor-element.elementor-element-1fb6f6d8>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
    padding: 0px 100px 0px 100px;
}

.elementor-11 .elementor-element.elementor-element-503ef857 {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-503ef857 .elementor-heading-title {
    color: #FFE300;
    font-family: "Montserrat", Sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.elementor-11 .elementor-element.elementor-element-503ef857>.elementor-widget-container {
    padding: 0px 100px 0px 100px;
}

.elementor-11 .elementor-element.elementor-element-56ff38af {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-56ff38af .elementor-heading-title {
    color: #FFE300;
    font-family: "Montserrat", Sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.elementor-11 .elementor-element.elementor-element-56ff38af>.elementor-widget-container {
    padding: 0px 100px 0px 100px;
}

.elementor-11 .elementor-element.elementor-element-2d8d35ec:not(.elementor-motion-effects-element-type-background),
.elementor-11 .elementor-element.elementor-element-2d8d35ec>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #4D5EA0;
}

.elementor-11 .elementor-element.elementor-element-2d8d35ec {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 45px 0px 0px 0px;
}

.elementor-11 .elementor-element.elementor-element-2d8d35ec>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-11 .elementor-element.elementor-element-49119a8c>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-11 .elementor-element.elementor-element-49119a8c>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-11 .elementor-element.elementor-element-7315f9bf {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-7315f9bf img {
    max-width: 574px;
}

.elementor-11 .elementor-element.elementor-element-7315f9bf>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-11 .elementor-element.elementor-element-3eabf349>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-11 .elementor-element.elementor-element-3eabf349>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-11 .elementor-element.elementor-element-43d9fbcf {
    text-align: left;
}

.elementor-11 .elementor-element.elementor-element-43d9fbcf .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 36px;
}

.elementor-11 .elementor-element.elementor-element-114dee92 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(3px/2);
}

.elementor-11 .elementor-element.elementor-element-114dee92 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(3px/2);
}

.elementor-11 .elementor-element.elementor-element-114dee92 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(3px/2);
    margin-left: calc(3px/2);
}

.elementor-11 .elementor-element.elementor-element-114dee92 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-3px/2);
    margin-left: calc(-3px/2);
}

body.rtl .elementor-11 .elementor-element.elementor-element-114dee92 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-3px/2);
}

body:not(.rtl) .elementor-11 .elementor-element.elementor-element-114dee92 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-3px/2);
}

.elementor-11 .elementor-element.elementor-element-114dee92 .elementor-icon-list-icon i {
    color: #0EE61B;
    transition: color 0.3s;
}

.elementor-11 .elementor-element.elementor-element-114dee92 .elementor-icon-list-icon svg {
    fill: #0EE61B;
    transition: fill 0.3s;
}

.elementor-11 .elementor-element.elementor-element-114dee92 {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-offset: 0px;
}

.elementor-11 .elementor-element.elementor-element-114dee92 .elementor-icon-list-icon {
    padding-right: 0px;
}

.elementor-11 .elementor-element.elementor-element-114dee92 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-11 .elementor-element.elementor-element-114dee92 .elementor-icon-list-item>a {
    font-family: "Montserrat", Sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 40px;
}

.elementor-11 .elementor-element.elementor-element-114dee92 .elementor-icon-list-text {
    color: #0EE61B;
    transition: color 0.3s;
}

.elementor-11 .elementor-element.elementor-element-58f2d599 {
    text-align: left;
}

.elementor-11 .elementor-element.elementor-element-58f2d599 img {
    width: 100%;
    max-width: 96%;
}

.elementor-11 .elementor-element.elementor-element-58f2d599>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
    padding: 0% 0% 0% 0%;
}

.elementor-11 .elementor-element.elementor-element-6d1165c4>.elementor-background-overlay {
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-11 .elementor-element.elementor-element-6d1165c4 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-11 .elementor-element.elementor-element-11cdaabb>.elementor-element-populated {
    margin: 0px 100px 0px 100px;
    --e-column-margin-right: 100px;
    --e-column-margin-left: 100px;
}

.elementor-11 .elementor-element.elementor-element-50da6cfb .elementor-button .elementor-align-icon-right {
    margin-left: 0px;
}

.elementor-11 .elementor-element.elementor-element-50da6cfb .elementor-button .elementor-align-icon-left {
    margin-right: 0px;
}

.elementor-11 .elementor-element.elementor-element-50da6cfb .elementor-button {
    font-family: "Montserrat", Sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    fill: #000000;
    color: #000000;
    background-color: #FFE300;
    border-style: none;
    border-radius: 0px 0px 0px 0px;
}

.elementor-11 .elementor-element.elementor-element-2da2e663>.elementor-widget-container {
    margin: -15px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-11 .elementor-element.elementor-element-7b5d4054 {
    --divider-border-style: solid;
    --divider-color: #FFFFFF;
    --divider-border-width: 3px;
}

.elementor-11 .elementor-element.elementor-element-7b5d4054 .elementor-divider-separator {
    width: 100%;
}

.elementor-11 .elementor-element.elementor-element-7b5d4054 .elementor-divider {
    padding-top: 5px;
    padding-bottom: 5px;
}

.elementor-11 .elementor-element.elementor-element-50fa2fed {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-11 .elementor-element.elementor-element-50fa2fed>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-11 .elementor-element.elementor-element-125bd5e3>.elementor-element-populated {
    margin: 0px 100px 0px 100px;
    --e-column-margin-right: 100px;
    --e-column-margin-left: 100px;
}

.elementor-11 .elementor-element.elementor-element-2494a707 {
    text-align: left;
}

.elementor-11 .elementor-element.elementor-element-2494a707 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    text-transform: capitalize;
}

.elementor-11 .elementor-element.elementor-element-2494a707>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-11 .elementor-element.elementor-element-645babc5>.elementor-element-populated {
    margin: 0px 100px 0px 100px;
    --e-column-margin-right: 100px;
    --e-column-margin-left: 100px;
}

.elementor-11 .elementor-element.elementor-element-7b900d46 {
    text-align: left;
}

.elementor-11 .elementor-element.elementor-element-7b900d46 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    -webkit-text-stroke-color: #000;
    stroke: #000;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-7b900d46>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-11 .elementor-element.elementor-element-6feac03f {
    text-align: left;
}

.elementor-11 .elementor-element.elementor-element-6feac03f .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    text-transform: capitalize;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.elementor-11 .elementor-element.elementor-element-6feac03f>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-11 .elementor-element.elementor-element-612d5d4 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-11 .elementor-element.elementor-element-612d5d4>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-11 .elementor-element.elementor-element-1cd103f6>.elementor-element-populated {
    margin: 0px 100px 0px 100px;
    --e-column-margin-right: 100px;
    --e-column-margin-left: 100px;
}

.elementor-11 .elementor-element.elementor-element-1e473512 {
    text-align: center;
}

.elementor-11 .elementor-element.elementor-element-1e473512 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    text-transform: capitalize;
}

.elementor-11 .elementor-element.elementor-element-1e473512>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-11 .elementor-element.elementor-element-6950674 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

:root {
    --page-title-display: none;
}

body.elementor-page-11:not(.elementor-motion-effects-element-type-background),
body.elementor-page-11>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #4D5EA0;
}

@media(max-width:1024px) {
    .elementor-11 .elementor-element.elementor-element-503ef857>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-11 .elementor-element.elementor-element-56ff38af>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-11 .elementor-element.elementor-element-49119a8c>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-11 .elementor-element.elementor-element-7315f9bf img {
        width: 100%;
        max-width: 100%;
        height: 100%;
    }
    .elementor-11 .elementor-element.elementor-element-7315f9bf>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }
    .elementor-11 .elementor-element.elementor-element-3eabf349>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-11 .elementor-element.elementor-element-58f2d599 img {
        width: 100%;
        max-width: 100%;
        height: 100%;
    }
    .elementor-11 .elementor-element.elementor-element-58f2d599>.elementor-widget-container {
        margin: 0px 30px 0px 0px;
    }
    .elementor-11 .elementor-element.elementor-element-6d1165c4 {
        padding: 0px 60px 50px 60px;
    }
    .elementor-11 .elementor-element.elementor-element-11cdaabb>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-11 .elementor-element.elementor-element-50da6cfb .elementor-button {
        font-size: 20px;
    }
    .elementor-11 .elementor-element.elementor-element-125bd5e3>.elementor-element-populated {
        margin: 0px 0px 0px 100px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 100px;
    }
    .elementor-11 .elementor-element.elementor-element-2494a707>.elementor-widget-container {
        margin: 10px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-11 .elementor-element.elementor-element-645babc5>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-11 .elementor-element.elementor-element-7b900d46>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-11 .elementor-element.elementor-element-1fb6f6d8>.elementor-widget-container {
        margin: 0px 0px 20px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-11 .elementor-element.elementor-element-503ef857 .elementor-heading-title {
        line-height: 36px;
        word-spacing: 0px;
    }
    .elementor-11 .elementor-element.elementor-element-503ef857>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-11 .elementor-element.elementor-element-56ff38af .elementor-heading-title {
        line-height: 36px;
        word-spacing: 0px;
    }
    .elementor-11 .elementor-element.elementor-element-56ff38af>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-11 .elementor-element.elementor-element-2d8d35ec {
        padding: 15px 0px 0px 0px;
    }
    .elementor-11 .elementor-element.elementor-element-49119a8c {
        width: 100%;
    }
    .elementor-11 .elementor-element.elementor-element-49119a8c>.elementor-element-populated {
        margin: 10px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-11 .elementor-element.elementor-element-7315f9bf img {
        max-width: 326px;
    }
    .elementor-11 .elementor-element.elementor-element-7315f9bf>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }
    .elementor-11 .elementor-element.elementor-element-7315f9bf {
        z-index: 1;
    }
    .elementor-11 .elementor-element.elementor-element-3eabf349 {
        width: 100%;
    }
    .elementor-11 .elementor-element.elementor-element-3eabf349>.elementor-element-populated {
        margin: 10px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 5px;
    }
    .elementor-11 .elementor-element.elementor-element-43d9fbcf>.elementor-widget-container {
        padding: 0px 0px 15px 0px;
    }
    .elementor-11 .elementor-element.elementor-element-114dee92 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(5px/2);
    }
    .elementor-11 .elementor-element.elementor-element-114dee92 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(5px/2);
    }
    .elementor-11 .elementor-element.elementor-element-114dee92 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(5px/2);
        margin-left: calc(5px/2);
    }
    .elementor-11 .elementor-element.elementor-element-114dee92 .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-5px/2);
        margin-left: calc(-5px/2);
    }
    body.rtl .elementor-11 .elementor-element.elementor-element-114dee92 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-5px/2);
    }
    body:not(.rtl) .elementor-11 .elementor-element.elementor-element-114dee92 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-5px/2);
    }
    .elementor-11 .elementor-element.elementor-element-114dee92 {
        --e-icon-list-icon-size: 20px;
    }
    .elementor-11 .elementor-element.elementor-element-58f2d599 {
        text-align: center;
        z-index: 1;
    }
    .elementor-11 .elementor-element.elementor-element-58f2d599 img {
        max-width: 326px;
    }
    .elementor-11 .elementor-element.elementor-element-58f2d599>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }
    .elementor-11 .elementor-element.elementor-element-6d1165c4 {
        padding: 10px 10px 10px 10px;
    }
    .elementor-11 .elementor-element.elementor-element-11cdaabb>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-11 .elementor-element.elementor-element-50da6cfb .elementor-button {
        font-size: 18px;
    }
    .elementor-11 .elementor-element.elementor-element-50da6cfb {
        width: 100%;
        max-width: 100%;
        align-self: center;
    }
    .elementor-11 .elementor-element.elementor-element-125bd5e3>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-11 .elementor-element.elementor-element-645babc5>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-11 .elementor-element.elementor-element-1cd103f6>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

/* Start custom CSS for button, class: .elementor-element-50da6cfb */

.elementor-11 .elementor-element.elementor-element-50da6cfb {
    animation: pulse 1000ms infinite;
}

.elementor-11 .elementor-element.elementor-element-50da6cfb:hover {
    animation-play-state: paused;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

/* End custom CSS */